<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @post.user %>
    <td><%= link_to('Show', user_path(@post.user.username)) %></td>
  <% else %>
    <td> Anonymous </td>
  <% end %>
  <strong>Title:</strong>
  <%= @post.title %>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post, page: @current_page) %> |
<%= link_to 'Back', posts_path(page: @current_page) %>
